* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.main-width {
    max-width: 1440px;
    margin: 0 auto;
}

/* Shared style start */
.display-flex {
    display: flex;
}

.dark-1 {
    color: rgba(19, 19, 19, 1);
}

.dark-2 {
    color: rgba(66, 66, 66, 1);
}

.dark-3 {
    color: rgba(114, 114, 114, 1);
}

.btn-primary {
    width: 180px;
    height: 64px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
}
/* Shared style end */

/* Navbar Section Start */
.navbar-container {
    justify-content: space-between;
    margin-top: 50px;
}

.navbar-header {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.3rem;
}

.ul-link {
    list-style: none;
    gap: 40px;
    align-items: center;
}

.ul-link li a {
    text-decoration: none;
}
/* Navbar Section End */

/* Banner Section Start */

.banner-text-container {
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
    margin-top: 116px;
}

.banner-text-header {
    font-size: 4rem;
    line-height: 4.6rem;
    font-weight: 700;
    margin-bottom: 32px;
}

.banner-text-container p {
    font-size: 1rem;
    line-height: 1.6rem;
    margin-bottom: 32px;
}

.banner-container img {
    margin-top: 50px;
    margin-bottom: 45px;
    border-radius: 8px;
    max-height: 700px;
    width: 100%;
}
/* Banner Section End */

/* Quick List Section Start */

.quick-list-container {
    display: flex;
    align-items: center;
    margin-bottom: 130px;
}

.quick-list-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-list-image {
    width: 342px;
    height: 342px;
    border-radius: 8px;
}

.quick-list-text-container {
    margin-left: 76px;
}

.quick-list-text-container h3 {
    font-size: 2.8rem;
    margin-bottom: 24px;
}

.quick-list {
    font-weight: 500;
}

.of-our {
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-weight: 700;
}

.quick-list-text-container p {
    margin-bottom: 32px;
    font-size: 1rem;
    line-height: 1.6rem;
}

/* Quick List Section End */

/* Features You Section Start */

.features-you-container {
    display: flex;
}

.features-you-text-header h3 {
    border-left: 0.3rem solid rgba(255, 144, 14, 1);
    padding-left: 21px;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.3rem;
    margin-bottom: 24px;
    margin-top: 40px;
}

.features-you-text-header p {
    max-width: 586px;
    margin-right: 146px;
    font-size: 1rem;
    line-height: 1.6rem;
}

.features-you-text {
    padding: 30px;
}

.features-you-text h4 {
    margin-bottom: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.4rem;
}

.features-you-text p {
    max-width: 514px;
}

.features-you img {
    max-width: 708px;
    max-height: 982px;
    margin-bottom: 207px;
    border-radius: 8px;
}

.years {
    width: 342px;
    height: 200px;
    background-color: rgba(255, 144, 14, 1);
    text-align: center;
    padding: 45px 42px;
    border-radius: 8px;
}

.years {
    color: #FFFFFF;
    margin-top: -130px;
    margin-left: -110px;
    position: absolute;
    z-index: 1;
}

.years h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.3rem;
}

.years p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 500;
}

/* Features You Section Start */

/* Responsive For Small Device Start */

@media screen and (max-width: 576px) {
    .navbar-container, 
    .quick-list-container, 
    .features-you-container {
        flex-direction: column;
    }

    .navbar-header {
        margin-bottom: 20px;
        text-align: center;
    }

    .ul-link {
        margin-left: 15px;
    }

    .quick-list-container {
    margin-bottom: 20px;
    }

    .quick-list-text-container {
    margin-left: 10px;
}

    .quick-list-images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
        margin-bottom: 30px;
    }

    .features-you-container {
        margin-left: 10px;
    }

    .features-you img {
        width: 100%;
        margin-bottom: 20px;
    }

    .years {
    margin-top: 20px;
    margin-left: 20px;
    }

    .features-you-text-header p {
        margin-right: 20px;
    }
    
}

/* Responsive For Small Device End */

/* Responsive For Medium Device Start */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar-container {
        flex-wrap: wrap;
    }

    .navbar-header {
        margin-bottom: 20px;
        text-align: center;
    }

    .ul-link {
        margin-right: 15px;
    }

    .quick-list-container,
    .features-you-container {
        flex-direction: column;
    }

    .quick-list-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        margin-bottom: 30px;
    }

    .features-you-container {
        margin-left: 10px;
    }

    .features-you img {
        width: 100%;
        margin-bottom: 20px;
    }

    .years {
    margin-top: 20px;
    margin-left: 20px;
    }

    .features-you-text-header p {
        margin-right: 20px;
    }
}


/* Responsive For Medium Device End */